In [2]:
import requests
import pandas as pd
from file import request_data, parse_data, extract_table,convert_df

In [5]:
url = "https://dps.psx.com.pk/symbols"
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)
df.to_csv("company_list.csv", index=False)

In [3]:
response = request_data("https://dps.psx.com.pk/indices/KMI30")
soup = parse_data(response)
table, headers = extract_table(soup)
df_table = convert_df(table, headers)
df_table

,SYMBOL,NAME,LDCP,CURRENT,CHANGE,CHANGE (%),IDX WTG (%),IDX POINT,VOLUME,FREEFLOAT (M),MARKET CAP (M)
0,AIRLINK,Air Link Communication Limited,171.60,173.19,1.59,0.93%,0.82%,18.47,"1,072,261",128,"22,213"
1,ATRL,Attock Refinery Limited,657.38,660.17,2.79,0.42%,1.13%,11.66,"169,779",46,"30,452"
2,CNERGY,Cnergyico PK Limited,7.72,7.74,0.02,0.26%,0.43%,2.69,"4,322,854","1,485","11,498"
3,CPHL,Citi Pharma Ltd.,87.20,88.06,0.86,0.99%,0.40%,9.62,"672,527",124,"10,880"
4,DGKC,D.G. Khan Cement Company Limited,243.77,242.04,-1.73,-0.71%,2.13%,-37.13,"2,517,431",237,"57,349"
5,EFERT,Engro Fertilizers Limited,215.97,219.43,3.46,1.60%,5.29%,203.67,"595,484",650,"142,615"
6,ENGROH,Engro Holdings Limited,217.58,216.41,-1.17,-0.54%,8.36%,-110.42,"2,290,371","1,042","225,505"
7,FCCL,Fauji Cement Company Limited,56.13,57.47,1.34,2.39%,1.98%,112.70,"15,238,281",929,"53,365"
8,FFC,Fauji Fertilizer Company Limited,572.16,584.94,12.78,2.23%,11.92%,636.23,"2,156,839",550,"321,517"
9,FFL,Fauji Foods Limited,19.93,19.75,-0.18,-0.90%,0.40%,-8.89,"6,055,394",545,"10,766"
10,GAL,Ghandhara Automobiles Limited,550.89,551.06,0.17,0.03%,0.50%,0.38,"131,371",25,"13,590"
11,GHNI,Ghandhara Industries Limited,831.57,822.97,-8.60,-1.03%,0.49%,-12.56,"78,802",16,"13,275"
12,GLAXO,GlaxoSmithKline Pakistan Limited,390.47,390.50,0.03,0.01%,1.00%,0.19,"104,159",69,"26,903"
13,HUBC,The Hub Power Company Limited,222.23,224.57,2.34,1.05%,8.18%,208.15,"2,895,568",982,"220,557"
14,LUCK,Lucky Cement Limited,487.24,488.82,1.58,0.32%,8.62%,68.03,"761,289",475,"232,374"
15,MARI,Mari Energies Limited,704.89,707.38,2.49,0.35%,6.81%,58.57,"997,837",260,"183,725"
16,MEBL,Meezan Bank Limited,431.02,431.80,0.78,0.18%,7.80%,34.40,"2,954,712",487,"210,236"
17,MLCF,Maple Leaf Cement Factory Limited,119.53,123.34,3.81,3.19%,2.33%,175.95,"10,495,201",510,"62,889"
18,MTL,Millat Tractors Limited,507.76,509.19,1.43,0.28%,1.83%,12.58,"53,897",97,"49,448"
19,NRL,National Refinery Limited,417.29,422.73,5.44,1.30%,0.45%,14.02,"1,370,751",28,"12,026"
20,OGDC,Oil & Gas Development Company Limited,272.83,275.11,2.28,0.84%,7.12%,144.10,"4,322,752",698,"191,972"
21,PAEL,Pak Elektron Limited,54.96,54.67,-0.29,-0.53%,1.11%,-14.43,"3,058,728",549,"30,040"
22,PPL,Pakistan Petroleum Limited,217.04,220.27,3.23,1.49%,5.91%,211.78,"10,127,468",724,"159,459"
23,PRL,Pakistan Refinery Limited,37.17,36.71,-0.46,-1.24%,0.33%,-10.24,"8,258,451",246,"9,024"
24,PSO,Pakistan State Oil Company Limited,467.87,469.36,1.49,0.32%,4.42%,34.26,"2,257,552",254,"119,170"
25,SAZEW,Sazgar Engineering Works Limited,"1,673.43","1,668.97",-4.46,-0.27%,1.42%,-9.24,"66,640",23,"38,191"
26,SEARL,The Searle Company Limited,105.85,106.44,0.59,0.56%,1.09%,14.78,"3,413,701",277,"29,444"
27,SNGP,Sui Northern Gas Pipelines Limited,118.05,120.09,2.04,1.73%,1.37%,57.04,"4,871,096",309,"37,071"
28,SSGC,Sui Southern Gas Company Limited,42.45,41.39,-1.06,-2.50%,0.51%,-32.02,"31,164,249",333,"13,803"
29,SYS,Systems Limited,161.00,164.85,3.85,2.39%,5.83%,332.53,"4,718,546",954,"157,207"

In [14]:
df_comany = pd.read_csv("company_list.csv")
df_comany

,symbol,name,sectorName,isETF,isDebt,isGEM
0,AKBLTFC6,Askari Bank(TFC6),BILLS AND BONDS,False,True,NaN
1,BAFLTFC6,Bank Al-Falah(TFC6,BILLS AND BONDS,False,True,NaN
2,BAFLTFC8,Bank Alfalah(TFC8),BILLS AND BONDS,False,True,NaN
3,BAHLTFC10,BANK AL HABIB LTD. (10TH ISSUE),BILLS AND BONDS,False,True,NaN
4,BAHLTFC9,Bank Al-Habib(TFC9,BILLS AND BONDS,False,True,NaN
...,...,...,...,...,...,...
974,ZELP,Zeal Pak Cement Factory Limited,CEMENT,False,False,False
975,ZHCM,Zahur Cotton Mills Limited,TEXTILE COMPOSITE,False,False,False
976,ZIL,ZIL Limited,FOOD & PERSONAL CARE PRODUCTS,False,False,False
977,ZTL,Zephyr Textiles Limited,TEXTILE WEAVING,False,False,False
978,ZUMA,Zuma Resources Limited,TEXTILE SPINNING,False,False,False

In [17]:
def add_sector_names(df,df_company):
    df_merged = pd.merge(df, df_company[['symbol', 'sectorName']], left_on='SYMBOL', right_on='symbol', how='left')
    df_merged.drop(columns=['symbol'], inplace=True)
    return df_merged
df_final = add_sector_names(df_table, df_comany)

In [18]:
df_final

,SYMBOL,NAME,LDCP,CURRENT,CHANGE,CHANGE (%),IDX WTG (%),IDX POINT,VOLUME,FREEFLOAT (M),MARKET CAP (M),sectorName
0,ABL,Allied Bank Limited,182.73,181.87,-0.86,-0.47%,0.42%,-3.35,"28,533",115,"20,825",COMMERCIAL BANKS
1,ABOT,Abbott Laboratories (Pakistan) Limited,"1,018.18","1,023.58",5.40,0.53%,0.43%,3.89,"15,976",21,"21,644",PHARMACEUTICALS
2,AGP,AGP Limited,189.87,190.59,0.72,0.38%,0.32%,2.06,"309,668",84,"16,010",PHARMACEUTICALS
3,AICL,Adamjee Insurance Company Limited,81.04,80.11,-0.93,-1.15%,0.45%,-8.87,"719,156",280,"22,431",INSURANCE
4,AIRLINK,Air Link Communication Limited,171.60,173.19,1.59,0.93%,0.41%,6.42,"1,072,261",119,"20,537",TECHNOLOGY & COMMUNICATION
...,...,...,...,...,...,...,...,...,...,...,...,...
95,TRG,TRG Pakistan Limited,71.43,71.70,0.27,0.38%,0.51%,3.26,"1,150,073",355,"25,418",TECHNOLOGY & COMMUNICATION
96,UBL,United Bank Limited,377.50,379.66,2.16,0.57%,6.67%,64.48,"1,624,782",876,"332,767",COMMERCIAL BANKS
97,UNITY,Unity Foods Limited,22.19,22.01,-0.18,-0.81%,0.16%,-2.20,"1,684,037",358,"7,884",FOOD & PERSONAL CARE PRODUCTS
98,UPFL,Unilever Pakistan Foods Limited,"28,710.00","28,863.17",153.17,0.53%,0.18%,1.63,20,0,"9,001",FOOD & PERSONAL CARE PRODUCTS
99,YOUW,Yousaf Weaving Mills Limited,5.72,5.68,-0.04,-0.70%,0.01%,-0.11,"1,295,357",82,463,TEXTILE WEAVING